<section class="hero">
  <div class="container hero-grid">

    <div class="hero-content">
      <span class="badge">
        Desarrollo de Software a la Medida
      </span>

      <h1>
        Transformamos tus  <br />
        <span> ideas en soluciones</span><br />
        digitales
      </h1>

      <span class="hero-line"></span>

      <p>
        Creamos software personalizado que impulsa la digitalización de tu
        empresa, optimizando procesos clave como inventario y ventas con
        herramientas accesibles e intuitivas.
      </p>

      <div class="hero-buttons">
        <a href="#" class="btn-primary">
          Iniciar Proyecto →
        </a>

        <a href="#" class="btn-outline">
          Conocer Más
        </a>
      </div>
    </div>

    <div class="hero-decoration">
  <img src="src/assets/icons/hexagon.svg" class="hex hex-1" alt="" />
  <img src="src/assets/icons/hexagon.svg" class="hex hex-2" alt="" />
  <img src="src/assets/icons/hexagon.svg" class="hex hex-3" alt="" />
  <img src="src/assets/icons/hexagon.svg" class="hex hex-4" alt="" />
  <img src="src/assets/icons/hexagon.svg" class="hex hex-5" alt="" />

  </div>
</section>
