
<section class="technologies">

  <img src="src/sections/technologies/icons_technologies/hexagon_white.svg" class="hex hex-top-left" alt="" />
  <img src="src/sections/technologies/icons_technologies/hexagon_white.svg" class="hex hex-bottom-right" alt="" />

  <div class="container">

    <span class="tech-badge">Stack Tecnológico</span>

    <h2 class="tech-title">
      Tecnologías que Dominamos
    </h2>

    <p class="tech-subtitle">
      Ofrecemos una gama completa de servicios de desarrollo de software diseñados para optimizar y digitalizar tu empresa.
    </p>

<div class="wrapper">

  <div class="marquee marquee--left">
    <div class="marquee__group">
      <div class="tech-card">
        <img src="src/sections/technologies/icons_technologies/java.svg" alt="Java" />
        <span>Java</span>
      </div>

      <div class="tech-card">
        <img src="src/sections/technologies/icons_technologies/javascript.svg" alt="JavaScript" />
        <span>JavaScript</span>
      </div>

      <div class="tech-card">
        <img src="src/sections/technologies/icons_technologies/spring.svg" alt="Spring Boot" />
        <span>Spring Boot</span>
      </div>

      <div class="tech-card">
        <img src="src/sections/technologies/icons_technologies/django.svg" alt="Django" />
        <span>Django</span>
      </div>
    </div>

    <div class="marquee__group">
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/java.svg"><span>Java</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/javascript.svg"><span>JavaScript</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/spring.svg"><span>Spring Boot</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/django.svg"><span>Django</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/git.svg"><span>Git</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/flutter.svg"><span>Flutter</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/docker.svg"><span>Docker</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/firebase.svg"><span>Firebase</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/python.svg"><span>Python</span></div>
    </div>
  </div>

  <div class="marquee marquee--right">
    <div class="marquee__group">
      <div class="tech-card">
        <img src="src/sections/technologies/icons_technologies/git.svg" alt="Git" />
        <span>Git</span>
      </div>

      <div class="tech-card">
        <img src="src/sections/technologies/icons_technologies/flutter.svg" alt="Flutter" />
        <span>Flutter</span>
      </div>

      <div class="tech-card">
        <img src="src/sections/technologies/icons_technologies/docker.svg" alt="Docker" />
        <span>Docker</span>
      </div>

      <div class="tech-card">
        <img src="src/sections/technologies/icons_technologies/firebase.svg" alt="Firebase" />
        <span>Firebase</span>
      </div>

      <div class="tech-card">
        <img src="src/sections/technologies/icons_technologies/python.svg" alt="Python" />
        <span>Python</span>
      </div>
    </div>

    <div class="marquee__group">
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/git.svg"><span>Git</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/flutter.svg"><span>Flutter</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/docker.svg"><span>Docker</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/firebase.svg"><span>Firebase</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/python.svg"><span>Python</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/java.svg"><span>Java</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/javascript.svg"><span>JavaScript</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/spring.svg"><span>Spring Boot</span></div>
      <div class="tech-card"><img src="src/sections/technologies/icons_technologies/django.svg"><span>Django</span></div>
    </div>
  </div>

</div>

<p class="tech-footer">
  Y muchas más tecnologías adaptadas a las necesidades de cada proyecto
</p>


  </div>
</section>

<script src="./technology_stack.js"></script>

