.about-section {
  padding: 90px 0;
  background: #f8fafc;
}

.about-title {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 16px;
}

.about-title span {
  color: #005DAA;
}

.badge.center {
  display: block;
  width: fit-content;
  margin: 0 auto 20px;
  padding: 8px 18px;
  background: #eaf1fb;
  color: #005daa;
  font-weight: 600;
  border-radius: 999px;
}

.about-description {
  max-width: 700px;
  margin: 0 auto 60px;
  text-align: center;
  color: #6b7280;
  font-size: 18px;
}

.hex-1a {
  top: 940px;
  bottom: 100px;
  right: 145px;
  width: 260px;
}

.about-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 80px;
}

.about-card {
  background: #ffffff;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #dbe7ff;
  border-left: 6px solid #0b5ed7;
  transition: all 0.4s ease;
}

.about-card:hover {
  transform: translateY(-8px);
  border-color: rgb(11, 94, 215, 0.2);
  border-left-color: rgb(11, 94, 215, 0.2);
  box-shadow: 0 10px 25px rgba(59, 130, 246, 0.25);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 16px;
}

.card-header h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #1f2937;
}

.card-icon {
  width: 56px;
  height: 56px;
  background: #eaf1fb;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon img {
  width: 40px;
}

.about-card p {
  font-size: 20px;
  line-height: 1.6;
  color: #6b7280;
}

.values-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  grid-auto-rows: 1fr;
}

.value-card {
  background: #fff;
  padding: 32px;
  border-radius: 12px;
  border: 1px solid #adb0b6;
  text-align: center;
  transition: all 0.4s ease;
}

.value-card:hover {
  transform: translateY(-8px);
  border-color: #0b5ed7;
  border-left-color: #0b5ed7;
  box-shadow: 0 10px 25px rgba(59, 130, 246, 0.25);
}

.value-icon {
  width: 90px;
  height: 77px;
  background: #eaf1fb;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
  transition: background 0.4s ease;
}

.value-card img {
  width: 36px;
  transition: filter 0.4s ease;
}

.value-card h4 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #1f2937;
}

.value-card p {
  color: #6b7280;
  font-size: 20px;
  line-height: 1.5;
}

.value-card:hover .value-icon {
  background: #0b5ed7;
}

.value-card:hover img {
  filter: brightness(0) invert(1);
}