.team {
  padding: 4rem 2rem;
  text-align: center;
  background: rgb(11, 94, 215, 0.02);
}

.team-badge {
  background: #e6f0fb;
  color: #005DAA;
  padding: 0.4rem 1rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 0.9rem;
}

.team-title {
  margin-top: 1.5rem;
  font-size: 2.6rem;
  font-weight: 800;
}

.team-title span {
  color: #005DAA;
}

.team-subtitle {
  max-width: 720px;
  margin: 1rem auto 3rem;
  color: #6b7280;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* CARD */
.team-card {
  position: relative;
  overflow: hidden;
  height: 420px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0,0,0,0.12);
}

.team-card img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INFO BASE */
.team-info {
  position: absolute;
  text-align: left;
  bottom: 24px;
  left: 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 3;
  color: #fff;
  transition: transform 0.4s ease;
}

.team-card:hover .team-info {
  transform: translateY(-90px);
}

.team-info h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.team-info span {
  font-size: 20px;
  opacity: 0.9;
}

/* OVERLAY */
.team-overlay {
  position: absolute;
  text-align: left;
  inset: 0;
  background: rgba(11, 94, 215, 0.7);
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 24px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.team-card:hover .team-overlay {
  opacity: 1;
}

/* TEXTO EXTRA */
.team-overlay p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 16px;
}

/* ICONOS */
.team-links {
  display: flex;
  gap: 1rem;
}

.team-links img {
  width: 26px;
  height: 26px;
  filter: brightness(0) invert(1);
  transition: transform 0.2s ease;
    filter: brightness(0) invert(1);
}

.team-links a:hover img {
  transform: scale(1.1);
}
