---
import BaseLayout from '../layouts/base_layout.astro'
import Hero from '../sections/home/hero.astro'
import Stats from '../sections/home/stats.astro'
import About from '../sections/about/about.astro'
import CompanyCulture from '../sections/about/culture/company_culture.astro'
import Team  from '../sections/about/team.astro'; 
import Clients from '../sections/about/clients.astro';
---

<BaseLayout>
  <section id="inicio">
    <Hero />
  </section>

  <section id="stats">
    <Stats />
  </section>

  <section id="nosotros">
    <About />
    <CompanyCulture />
    <Team />
    <Clients />
  </section>

</BaseLayout>
