---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../sections/home/Hero.astro'
import Stats from '../sections/home/Stats.astro'
import About from '../sections/about/About.astro'
import CompanyCulture from '../sections/about/Company-culture.astro'
import Team from '../sections/about/Team.astro';
---

<BaseLayout>
  <section id="inicio">
    <Hero />
  </section>

  <section id="stats">
    <Stats />
  </section>

  <section id="nosotros">
    <About />
    <CompanyCulture />
    <Team />
  </section>

</BaseLayout>
